<article class="post {{ post.layout }}">
  <a href="{{ post.url }}">
    {% if post.layout != 'case' %}
      <img src="/media/{{ post.avatar }}" class="avatar" alt="" />
    {% endif %}
      <h4 class="{% if post.discipline == 'animation' %}icon-video
            {% elsif post.discipline == 'architecture' %}icon-greek-column
            {% elsif post.discipline == 'print' %}icon-printed-matter
            {% elsif post.discipline == 'website' %}icon-network
            {% elsif post.discipline == 'application' %}icon-window
            {% elsif post.discipline == 'app' %}icon-mobile
            {% elsif post.category == 'articles' %}icon-feather
            {% endif %}">
        {% if post.layout == 'case' %}Showcase: {% endif %}{{ post.title }}
      </h4>
      {% if post.layout == 'case' %}
      {% for pic in post.pictures limit:1 %}
        <img src="/media/portfolio/{{ pic.url }}" title="{{ pic.caption }}" alt="" />
      {% endfor %}
        {% for vid in post.videos limit:1 %}
            <video controls>
                <source src="/media/portfolio/{{ vid.url }}" type="video/mp4" />
              {{ video.caption }}
            </video>
          {% endfor %}
      {% endif %}
      <p class="summary">
        {{ post.summary }}
      </p>
  </a>
</article>