@charset "UTF-8";

$glyph-training: '\e84c';
$glyph-bank: '\e84c';
$glyph-contacts: '\e816';
$glyph-chart-line-1: '\1f4c8';
$glyph-oira-tool: '\e996';
$glyph-risk-assessment-tool: '\e996';
$glyph-oira-assessment: '\e977';
$glyph-risk-assessment: '\e977';
$glyph-angle-double-right: '\e87b';
$glyph-document-inv: '\f15b';
$glyph-doc-inv: '\f15b';
$glyph-portlets: '\e93e';
$glyph-polls: '\e91c';
$glyph-follow: '\e924';
$glyph-day-view: '\e818';
$glyph-week-view: '\e826';
$glyph-month-view: '\e824';
$glyph-year-view: '\e826';
$glyph-circles: '\e94b';
$glyph-user-secret: '\f21b';
$glyph-birthday: '\f1fd';
$glyph-checkbox-solid-unchecked: '\e93d';
$glyph-checkbox-solid-checked: '\e93c';
$glyph-stage: '\e944';
$glyph-checklist: '\e927';
$glyph-ok: '\e829';
$glyph-ok-squared: '\f14a';
$glyph-plus-squared: '\f0fe';
$glyph-minus-squared: '\f146';
$glyph-flag: '\2691';
$glyph-workflow-state: '\e943';
$glyph-right-big: '\e888';
$glyph-briefcase: '\e848';
$glyph-checkbox: '\f096';
$glyph-checkbox-active: '\e8f7';
$glyph-dot-circled: '\f192';
$glyph-radio-button: '\f10c';
$glyph-radio-button-active: '\f192';
$glyph-list: '\2630';
$glyph-list-large: '\e807';
$glyph-grid-large: '\e80b';
$glyph-clock: '\e82f';
$glyph-quaive-brandmark: '\e939';
$glyph-arrow-down-circle: '\e80e';
$glyph-arrow-up-circle: '\f0aa';
$glyph-arrows: '\e900';
$glyph-arrows-apart: '\e935';
$glyph-icon-close: '\e899';
$glyph-icon-upload: '\e808';
$glyph-plus-circle: '\e802';
$glyph-expand: $glyph-plus-circle;
$glyph-remove: '\e86c';
$glyph-remove-tag: '\e898';
$glyph-clone: '\f24d';
$glyph-cancel: '\e899';
$glyph-cancel-circle: '\e803';
$glyph-cancel-circled: '\e803';
$glyph-ok-circle: '\e86a';
$glyph-ok-circled: '\e86a';
$glyph-plus: '\e825';
$glyph-plus-1: '\e831';
$glyph-minus: '\e898';
$glyph-help-circle: '\e86d';
$glyph-arrrow-curved-up: '\e932';
$glyph-icon-marker: '\e8aa';
$glyph-icon-eraser: '\f12d';
$glyph-icon-zoom-in: '\e8ba';
$glyph-icon-zoom-out: '\e8bb';
$glyph-icon-move: '\e827';
$glyph-globe: '\e844';
$glyph-alarm: '\e936';
$glyph-icon-pin: '\1f4cc';
$glyph-icon-download: '\e809';
$glyph-icon-print: '\e716';
$glyph-icon-edit: '\e8aa';
$glyph-icon-trash: '\f1f8';
$glyph-trash: '\f1f8';
$glyph-icon-grid: '\e893';
$glyph-icon-checklist: '\e927';
$glyph-icon-annotation: '\e92a';
$glyph-icon-priority: '\e8ae';
$glyph-icon-warning: '\e80c';
$glyph-icon-resize-vertical: '\e875';
$glyph-resize-full: '\e8f4';
$glyph-icon-cog: '\e804';
$glyph-icon-menu: '\e878';
$glyph-menu: '\e878';
$glyph-home: '\e8ff';
$glyph-icon-powerpoint: '\e81d';
$glyph-icon-word: '\e81b';
$glyph-icon-excel: '\e81c';
$glyph-icon-pdf: '\e81a';
$glyph-icon-people: '\e8fb';
$glyph-icon-post: '\e879';
$glyph-icon-rich: '\e823';
$glyph-news: '\e91f';
$glyph-icon-news: '\e840';
$glyph-library: '\e91e';
$glyph-icon-library-item: '\e88b';
$glyph-icon-library-section: '\e86f';
$glyph-icon-library-subsection: '\e86f';
$glyph-icon-event: '\e810';
$glyph-icon-image: '\e822';
$glyph-icon-picture: '\e89f';
$glyph-picture: '\e89f';
$glyph-icon-slideshow: '\e940';
$glyph-icon-folder: '\1f4c1';
$glyph-icon-email: '\e894';
$glyph-mail: '\e894';
$glyph-icon-new-conversation: '\270d';
$glyph-icon-register: '\e80f';
$glyph-shopping-basket: '\f291';
$glyph-icon-workspace: '\e94a';
$glyph-icon-super-space: '\e94a';
$glyph-icon-question: '\f29c';
$glyph-icon-link: '\e83b';
$glyph-link-external: '\f08e';
$glyph-icon-dashboard: '\e943';
$glyph-icon-app: '\e926';
$glyph-skill: '\e83a';
$glyph-link-internal: '\1f517';
$glyph-link-external: '\f08e';
$glyph-tag: '\e87c';
$glyph-tool: '\e88f';
$glyph-archive: '\e80f';
$glyph-archived: '\e80f';
$glyph-icon-notes: '\e88b';
$glyph-upload-cloud: '\e90a';
$glyph-icon-file: '\e811';
$glyph-icon-file-archive: '\e821';
$glyph-icon-task: '\e829';
$glyph-icon-contract: '\f2b5';
$glyph-icon-audio: '\e820';
$glyph-icon-video: '\e81e';
$glyph-icon-external-video: '\e841';
$glyph-icon-youtube: '\f167';
$glyph-icon-odt: '\e811';
$glyph-icon-octet: '\e811';
$glyph-icon-postscript: '\e811';
$glyph-icon-plain-text: '\e823';
$glyph-icon-zip: $glyph-icon-file-archive;
$glyph-icon-business-card: '\e722';
$glyph-icon-chat: '\e805';
$glyph-icon-chat-empty: '\f0e6';
$glyph-icon-search: '\e8f8';
$glyph-gauge: '\f0e4';
$glyph-icon-case: '\E852';
$glyph-icon-building: '\E86E';
$glyph-icon-department: $glyph-icon-building;
$glyph-icon-star-circled: '\e880';
$glyph-icon-newspaper-angle: '\e94c';
$glyph-icon-megaphone: '\e882';
$glyph-icon-boilerplate: '\e884';
$glyph-icon-user: '\e8fa';
$glyph-user: '\e8fa';
$glyph-icon-users: '\e8fb';
$glyph-icon-user-group: '\e8fb';
$glyph-icon-division: '\e923';
$glyph-icon-tag: '\e70c';
$glyph-icon-attention: '\e80c';
$glyph-icon-circle: '\f111';
$glyph-icon-lock-compact: '\e902';
$glyph-icon-lock-compact-open: '\e903';
$glyph-icon-lock: '\e8a3';
$glyph-icon-lock-open: '\e8a4';
$glyph-icon-eye: '\e8a5';
$glyph-eye: '\e8a5';
$glyph-eye-off: '\e8a6';
$glyph-eyedropper: '\f1fb';
$glyph-icon-trolley: '\e892';
$glyph-icon-trolley-download: '\f218';
$glyph-icon-info-circle: '\e819';
$glyph-icon-heart: '\e801';
$glyph-icon-heart-empty: '\e800';
$glyph-icon-videocam: '\e8a0';
$glyph-videocam: '\e8a0';
$glyph-icon-title: '\e92e';
$glyph-icon-door: '\e931';
$glyph-icon-floppy: '\e82b';
$glyph-icon-calendar: '\e8af';
$glyph-book: '\e850';
$glyph-icon-down-bold: '\e871';
$glyph-icon-arrow-down: '\25be';
$glyph-icon-arrow-left: '\e8c3';
$glyph-arrow-left-big: '\e8c6';
$glyph-left-big: '\e8c6';
$glyph-left-open: '\e916';
$glyph-right-open: '\e917';
$glyph-icon-arrow-right: '\e8c4';
$glyph-icon-book-bookmark: '\e850';
$glyph-icon-bookmark: '\e851';
$glyph-bookmarks: '\e921';
$glyph-classifieds: '\e920';
$glyph-icon-lightbulb: '\e883';
$glyph-lightbulb: '\e883';
$glyph-icon-ellipsis: '\e865';
$glyph-ellipsis: '\e865';
$glyph-icon-ellipsis-open: '\e824';
$glyph-ellipsis-vertical: '\f142';
$glyph-icon-right-circled: '\f18e';
$glyph-right-circled: '\e919';
$glyph-right-circle: '\e919';
$glyph-angle-right: '\f105';
$glyph-angle-circled-right: '\f138';
$glyph-angle-right-thin: '\f105';
$glyph-angle-left: '\f104';
