@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?21680013');
  src: url('../font/fontello.eot?21680013#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?21680013') format('woff2'),
       url('../font/fontello.woff?21680013') format('woff'),
       url('../font/fontello.ttf?21680013') format('truetype'),
       url('../font/fontello.svg?21680013#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?21680013#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-down-dir:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-check-on:before { content: '\e805'; } /* '' */
.icon-list:before { content: '\e806'; } /* '' */
.icon-list-large:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-tiles:before { content: '\e80a'; } /* '' */
.icon-grid-large:before { content: '\e80b'; } /* '' */
.icon-flag:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-cog-many:before { content: '\e80e'; } /* '' */
.icon-cut:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-ok-circle:before { content: '\e813'; } /* '' */
.icon-cancel-circle:before { content: '\e814'; } /* '' */
.icon-plus-circle:before { content: '\e815'; } /* '' */
.icon-minus-circle:before { content: '\e816'; } /* '' */
.icon-workspace:before { content: '\e817'; } /* '' */
.icon-doc:before { content: '\e818'; } /* '' */
.icon-user-add:before { content: '\e819'; } /* '' */
.icon-radio-on:before { content: '\e81a'; } /* '' */
.icon-cancel-circle-open:before { content: '\e81b'; } /* '' */
.icon-help-circle:before { content: '\e81c'; } /* '' */
.icon-info-circle:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-tag:before { content: '\e81f'; } /* '' */
.icon-tags:before { content: '\e820'; } /* '' */
.icon-upload-cloud:before { content: '\e821'; } /* '' */
.icon-export:before { content: '\e822'; } /* '' */
.icon-print:before { content: '\e823'; } /* '' */
.icon-comment:before { content: '\e824'; } /* '' */
.icon-chat:before { content: '\e825'; } /* '' */
.icon-vcard:before { content: '\e826'; } /* '' */
.icon-trash:before { content: '\e827'; } /* '' */
.icon-rss:before { content: '\e828'; } /* '' */
.icon-resize-full:before { content: '\e829'; } /* '' */
.icon-resize-small:before { content: '\e82a'; } /* '' */
.icon-network:before { content: '\e82b'; } /* '' */
.icon-spin:before { content: '\e82c'; } /* '' */
.icon-check-off:before { content: '\e82d'; } /* '' */
.icon-paste:before { content: '\e82e'; } /* '' */
.icon-radio-off:before { content: '\e82f'; } /* '' */
.icon-twitter-circled:before { content: '\e830'; } /* '' */
.icon-facebook-squared:before { content: '\e831'; } /* '' */
.icon-gplus-circled:before { content: '\e832'; } /* '' */
.icon-tumblr-circled:before { content: '\e833'; } /* '' */
.icon-linkedin-circled:before { content: '\e834'; } /* '' */
.icon-skype-circled:before { content: '\e835'; } /* '' */
.icon-thumbs-up:before { content: '\e836'; } /* '' */
.icon-user:before { content: '\e837'; } /* '' */
.icon-users:before { content: '\e838'; } /* '' */
.icon-folder:before { content: '\e839'; } /* '' */
.icon-pin:before { content: '\e83a'; } /* '' */
.icon-attach:before { content: '\e83b'; } /* '' */
.icon-phone:before { content: '\e83c'; } /* '' */
.icon-upload:before { content: '\e83d'; } /* '' */
.icon-download:before { content: '\e83e'; } /* '' */
.icon-search:before { content: '\e83f'; } /* '' */
.icon-lock:before { content: '\e840'; } /* '' */
.icon-lock-open:before { content: '\e841'; } /* '' */
.icon-link:before { content: '\e842'; } /* '' */
.icon-wrench:before { content: '\e843'; } /* '' */
.icon-brand-mark:before { content: '\e844'; } /* '' */
.icon-greek-column:before { content: '\e845'; } /* '' */
.icon-mobile:before { content: '\e846'; } /* '' */
.icon-feather:before { content: '\e847'; } /* '' */
.icon-linkedin-squared:before { content: '\e848'; } /* '' */
.icon-twitter:before { content: '\e849'; } /* '' */
.icon-pinterest-circled:before { content: '\e84a'; } /* '' */
.icon-github-circled:before { content: '\e84b'; } /* '' */
.icon-window:before { content: '\e84c'; } /* '' */
.icon-printed-matter:before { content: '\e84d'; } /* '' */
.icon-video:before { content: '\e84e'; } /* '' */
.icon-left-open-big:before { content: '\e84f'; } /* '' */
.icon-left-open:before { content: '\e850'; } /* '' */
.icon-angle-left:before { content: '\e851'; } /* '' */
.icon-left-big:before { content: '\e852'; } /* '' */