$back-button-border-radius: $border-radii !default;
$back-button-border-radius-left: 8px !default;

$back-button-background-colour: $button-background-colour-subdued;
$back-button-text-colour: $button-text-colour-subdued;
$back-button-text-colour-hover: $button-text-colour-subdued-hover;
$back-button-height: $button-height !default;
$back-button-line-height: $button-line-height !default;

$back-button-arrow-height-top: (0.5 * $back-button-height) - (0.26 * $back-button-border-radius-left) !default;
$back-button-arrow-height-bottom: (0.5 * $back-button-height) - (0.26 * $back-button-border-radius-left) !default;

$back-button-background-colour-dp: rgba(255,255,255,0.5);
$back-button-text-colour-dp: rgba(255,255,255,0.9);
$back-button-text-colour-dp-hover: white;

.pat-back-button {
	display: inline-block;
	line-height: $back-button-line-height;

	.pat-toolbar & {
		line-height: $pat-toolbar-button-line-height;
	}

	height: $back-button-height;
	// background: $colour-button;
	color: $back-button-text-colour;
	font-size: 18px;
	padding: 0 1.5em 0 2em;
	position: relative;
	margin-left: 0;
	font-weight: bold;
	max-width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	text-decoration: none !important;

	.overflow-protector {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}

	@include screen-size(small) {
		#app-space & {
			display: none; // Use level up back button instead.
		}
	}

	&:before {
		content: ' ';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $back-button-arrow-height-top 15px $back-button-arrow-height-bottom 0;
		border-color: transparent $back-button-background-colour transparent transparent;
		position: absolute;
		left: 0;
		top: 0.3 * $back-button-border-radius-left;
	}

	&:after {
		content: ' ';
		background: $back-button-background-colour;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 13px;
		clip-path: inset(0 0 0 2px);
		display: block;
		border-top-right-radius: $back-button-border-radius;
		border-bottom-right-radius: $back-button-border-radius;
		border-top-left-radius: $back-button-border-radius-left;
		border-bottom-left-radius: $back-button-border-radius-left;
		z-index: -1;
	}

	&.dp {
		// color: $back-button-text-colour-dp;

		// &:hover {
		// 	color: $back-button-text-colour-dp-hover;
		// }

		&:before {
			border-color: transparent $back-button-background-colour-dp transparent transparent;
		}

		&:after {
			background: $back-button-background-colour-dp;
		}
	}

	&:hover {
		color: black;
		text-decoration: none;
	}
}