#back-button {
	background-color: rgba(255,255,255,0.5);
	float: left;
	position: relative;
	line-height: 104px;
	width: 104px;
	height: 104px;
	overflow: hidden;
	text-indent: -1000px;

	margin-left: -240px;
	margin-top: 11px;

	@include screen-size(medium) {
      margin-left: -136px;
    }

	@include screen-size(small) {
      margin-left: 0;
      margin-top: 0;
      top: 0;
      left: 10%;
      position: absolute;
      line-height: 150px;
      width: 150px;
      height: 150px;
      background-color: white;
	}

	&:before {
		content: '\e852';
		font-family: fontello;
		text-indent: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 40px;
	}

	&:hover {
		&:before {
			left: -5px;
		}
	}
}