#colours {
  width: 280px;
  height: 55px;
  position: absolute;
  // background-color: rgba(255,255,255,0.15);
  border-bottom: 2px solid rgba(255,255,255,0.3);
  top: 0;
  left: 240px;
  list-style-type: none;
  margin: 0;
  display: block;
  padding: 0;
  user-select: none;

  @include screen-size(large) {
    left: 240px;
  }

  @include screen-size(small-medium) {
    left: 136px;
  }

  @-moz-document url-prefix() { 
    left: 0;
  }

  &:before {
    content: " ";
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    bottom: 8px;
    right: 252px;
  }

  li {
    width: 12px;
    height: 12px;
    border: 2px solid rgba(255,255,255,0.3);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    transition: tranform 0.4s;
    text-indent: -1000px;
    overflow: hidden;
    float: left;
    margin: 0 10px 0 0;
    right: 0;
    bottom: 10px;
    transition: right 1s;
    user-select: none;
  }

  li:hover {
    border-color: white;
  }

  .avocado {
    background-color: $colour-avocado;
    right: 20px;
  }

  .blueberry {
    background-color: $colour-blueberry;
    right: 0;
  }

  .topaz {
    background-color: $colour-topaz;
    right: 0;
  }

  .orchid {
    background-color: $colour-orchid;
    right: 60px;
  }

  .mocha {
    background-color: $colour-mocha;
    right: 40px;
  }
}

@media only screen and (max-width: 768px) {
  #colours {
    display: none;
  }
}

.mood-blueberry #colours .blueberry, 
.mood-avocado #colours .avocado, 
.mood-orchid #colours .orchid, 
.mood-mocha #colours .mocha, 
.mood-topaz #colours .topaz {
  right: 243px;
  border-color: white;
  animation: bounce-nervous 1s;
}

.mood-mocha #colours .avocado, 
.mood-orchid #colours .avocado, 
.mocha #colours .avocado {
  right: 40px;
}

.mood-mocha #colours .blueberry, 
.mood-orchid #colours .blueberry, 
.mood-topaz #colours .blueberry, 
.mood-avocado #colours .blueberry {
  right: 0;
}

.mood-mocha #colours .topaz, 
.mood-orchid #colours .topaz, 
.mood-avocado #colours .topaz {
  right: 20px;
}

.mood-orchid #colours .mocha {
  right: 60px;
}

// Colour avocado

.mood-blueberry {
  #prologue {
    background-color: $colour-blueberry;
  }

  a {
    color: $colour-blueberry;
  }
}

.mood-avocado {
  #prologue {
    background-color: $colour-avocado;
    color: darken( $colour-avocado, 50% );
  }

  a {
    color: $colour-avocado;
    color: darken( $colour-avocado, 50% );
  }

  #home-link {
    opacity: 1;
    a {
      color: $colour-avocado;
    }
  }
}

.mood-topaz {
  #prologue {
    background-color: $colour-topaz;
  }

  a {
    color: $colour-topaz;
  }

  #home-link {
    opacity: 1;
  }
}

.mood-orchid {
  #prologue {
    background-color: $colour-orchid;
  }

  a {
    color: $colour-orchid;
  }

  #home-link {
    opacity: 0.5;
  }
}

.mood-mocha {
  #prologue {
    background-color: $colour-mocha;
  }

  a {
    color: $colour-mocha;
  }

  #home-link {
    opacity: 0.4;
  }
}