#content-0ld {
  z-index: 1;
  background: #3d607e url(pattern.png) no-repeat fixed right 0;
  background-image: url(pattern.png), url(grain.png);
  background-repeat: no-repeat,repeat;
  // background: url(grid.png) repeat;
  transition: background-color 2s ease-out;
  color: white;
  display: block;
  background-size: 100% auto, 400px 400px;
  font-weight: 100;
}

#content {
  padding: 24px 344px 0 240px;
  position: relative;

  img,
  video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}