#doormat {
	font-size: 0.7em;
	padding-top: 2 * $grid-unit;
	line-height: 0.6 * $grid-unit;

	@include screen-size(medium) {
		-moz-column-count: 2;
		column-count: 2;
		-moz-column-gap: 2 * $grid-unit;
		column-gap: 2 * $grid-unit;
	}

	@include screen-size(large) {
		-moz-column-count: 3;
		column-count: 3;
		-moz-column-gap: 2 * $grid-unit;
		column-gap: 2 * $grid-unit;
	}

	h3 {
		padding: 0 0 0 0;
		margin: 0 0 0.3 * $grid-unit 0;
		font-weight: bold;
	}
}