#header {
	width: $page-width;
	margin: 0 auto;

	@-moz-document url-prefix() {  
	    max-width: 60%;
	    width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}