#home-link {
  height: 280px;
  width: 104px;
  color: rgba(0,0,0,0.4);
  text-align: center;
  font-size: 70px;
  display: block;
  // background-color: rgba(255,255,255,0.15);
  padding: 0;
  margin: 0;
  z-index: 10;
  position: absolute;
  right: 0;
  top: $grid-unit;
  margin-top: 1.5 * $grid-unit;

  float: right;

  .csspositionsticky & {
    position: sticky;
    position: -webkit-sticky;
    margin-bottom: -280px;
    margin-right: -344px;
    float: right;

    transform: scale(1) !important;
  }

  opacity: 0.2;

  @include box-sizing();

  a {
    overflow: hidden;
    text-indent: -1000px;
    display: block;
    height: 100%;
    width: 100%;
    border: none !important;

    &:before {
      content: '\E844';
      font-size: 279px;
      line-height: 1;
      text-indent: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: bold;
      font-family: fontello;

      display: block;
      overflow: hidden;
      width: 100%;
    }
  }
}