#main-content {

	@include screen-size(large) {
		width: $page-width;
		padding: 1.5 * $grid-unit 240px $grid-unit 240px;

	  	@-moz-document url-prefix() { 
	    	padding-left: 0;
	    	padding-right: 0;
	    	max-width: 60%;
	  	}
	}

	@include screen-size(medium) {
		padding: 1.5 * $grid-unit 136px $grid-unit 136px;
	}

	@include screen-size(small) {
		padding: 1.5 * $grid-unit 10% $grid-unit 10%;
	}

  	margin: 0 auto;

  	@include box-sizing;
}