#main {
  	width: $page-width;

  	.touch & {
		zoom: 1 !important;
  	}

  	@-moz-document url-prefix() { 
	  width: 100%;
	}

	@include screen-size(small-medium) {
	    width: auto;
	    zoom: 1 !important;
	}
}