#prologue {
  padding: 240px 344px 0 240px;
  position: relative;
  color: white;

  background-color: #3d607e;
  background-position: right 0, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 100% auto;
  background-attachment: fixed, fixed;
  background-image: url(pattern.png), url(grain.png);
  background-size: 100% auto, 400px 400px;

  @media only screen and (max-width: 768px) {
	  p {
	    width: auto;
	  }
	}
  
  &:after {
    content: " ";
    clear: both;
    width: 1px;
    height: 1px;
    display: block;
    margin-top: -1px;
  }

  h1 {
	  letter-spacing: 2px;
	  transition: all 0.4s;
	  margin-bottom: 0.5em;
	  line-height: 1.2;
	  font-size: 2.8em;
	  font-weight: 100;
	}

  blockquote {
    margin-left: 0;
    opacity: 0.7;
  }

  p.byline {
    margin-bottom: 30px;
    font-size: 14px;
    font-style: italic;
    margin-top: -1.5em;
  }

  strong {
    color: white;
  }

  p a {
    text-decoration: none;
    border-bottom: 1px dotted white;
    font-weight: bold;
    color: white;
    &:hover {
      border-bottom: 1px solid white;
    }
  }
}