---
layout: risk-assessment
---

{% assign lang = page.lang | default: site.lang %}
{% assign tool = site.collections | where: "label", page.ra | first %}
{% include osh.html id="risk" %}

<form 
	method="get" 
	action="{{ page.next.url }}" 
	class="pat-form pat-inject panel-style" 
	data-pat-inject="source: #main-content; target: #main-content; && source: #toolbar; target: #toolbar; && source: #step-2-topics; target: #step-2-topics; && source: #status; target: #status;">
	<div 
		class="pat-scroll-box" 
		id="content-pane">

		{% include toolbar-risk-assessment.html %}

		<h2 
			class="risk-title">
	        {% if tool.mode == 'funny' %}
	            {{page.title}}
	        {% else %}
	            {{page.problem_description}}
	        {% endif %}
		</h2>

		{{ content }}
	</div>

	<p 
		class="button-bar pat-bumper" 
		id="nav-bar">
		<button 
			type="submit" 
			name="action" 
			formaction="{{ page.previous.url }}" 
			value="previous" 
			class="pat-button back">Zurück</button>

		<button 
			type="submit" 
			name="action" 
			value="next" 
			class="pat-button continue">{{ site.data.oira.ui.button_save_and_continue[lang] }}</button>
		<button 
			type="submit" 
			name="action" 
			value="skip" 
			class="pat-button skip">{{ site.data.oira.ui.button_skip[lang] }}</button>
	</p>

</form>
