$glyph-checkbox: \e808 !default;
$glyph-checkbox-active: \e809 !default;
$glyph-radio-button: \e807 !default;
$glyph-radio-button-active: \e806 !default;
$glyph-close: '\e813' !default;
$glyph-arrows-apart: '\e901' !default;
$glyph-remove: '\e813' !default;
$glyph-remove-tag: '\e813' !default;
$glyph-icon-user: '\e80c' !default;
$glyph-icon-user-group: '\e80d' !default;
$glyph-angle-right: '\f105' !default;
$glyph-cancel: '\e80b' !default;
$body-font-color: black !default;
$glyph-icon-up-circle: '\e80d' !default;
$glyph-icon-down-circle: '\e80e' !default;
$glyph-icon-search: '\e83d' !default;
$glyph-minus: '\e898' !default;
$glyph-plus-1: '\e831' !default;
$glyph-spinner: '\e838' !default;
$glyph-angle-double-right: '\f101' !default;
$glyph-plus: '\e833' !default;
$glyph-icon-cog: '\e818' !default;
$glyph-cog: '\e818' !default;
$glyph-icon-ellipsis: '\e89e' !default;
$glyph-left-big: '\e8c6' !default;
$glyph-right-big: '\e888' !default;
$glyph-upload: '\e808';
$glyph-edit: '' !default;
$glyph-download: '' !default;
$glyph-eye: '' !default;
$glyph-upload-cloud: '' !default;
$glyph-grid-large: '' !default;
$glyph-list-large: '' !default;
$glyph-up-open: '\e855' !default;
$glyph-down-open: '\e856' !default;
$glyph-icon-right-circled: '\f0a9' !default;
$glyph-icon-picture: '' !default;
$glyph-language: '' !default;
$glyph-download: '' !default;